body {
  background: mistyrose;
  height: 120vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  perspective: 1300px;
}
    
.rains div {
        position: absolute;
        transform-style: preserve-3d;
}
    
#chocolate_rains {
        transform: rotateX(-15deg);
    }
    
    .heart .ring {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        opacity: 0;
        border: 1px solid red;
    }
    .heart .left {
        left: -20px;
        width: 20px;
        height: 20px;
        background: #c80000;
        border-radius: 100%;
        transform-origin: 100% 0;
    }
    .heart .left::before {
        content: "";
        position: absolute;
        top: 10px;
        width: 20px;
        height: 25px;
        background: #c80000;
        border-radius: 0 0 0 100%;
    }
    .heart .right {
        width: 20px;
        height: 20px;
        background: #c80000;
        border-radius: 100%;
        transform-origin: 0 0;
    }
    .heart .right::before {
        content: "";
        position: absolute;
        top: 10px;
        width: 20px;
        height: 25px;
        background: #c80000;
        border-radius: 0 0 100% 0;
    }
    .heart .movable {
        opacity: 0;
    }
    .heart .reverse {
        transform: translateY(70px) rotateZ(180deg);
        opacity: 0.1;
    }
    .heart .reverse .left, .heart .reverse .right {
        opacity: 0.5;
    }
    .heart:nth-child(1) {
        transform: translateX(491px) translateZ(788px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(1) .movable {
        -webkit-animation: drop 5000ms 1039ms linear infinite;
                animation: drop 5000ms 1039ms linear infinite;
    }
    .heart:nth-child(1) .ring {
        -webkit-animation: wave 5000ms 4939ms ease-out infinite;
                animation: wave 5000ms 4939ms ease-out infinite;
    }
    .heart:nth-child(1) .inner {
        -webkit-animation: rotation 3302ms linear infinite;
                animation: rotation 3302ms linear infinite;
    }
    .heart:nth-child(2) {
        transform: translateX(149px) translateZ(353px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(2) .movable {
        -webkit-animation: drop 5000ms -2147ms linear infinite;
                animation: drop 5000ms -2147ms linear infinite;
    }
    .heart:nth-child(2) .ring {
        -webkit-animation: wave 5000ms 1753ms ease-out infinite;
                animation: wave 5000ms 1753ms ease-out infinite;
    }
    .heart:nth-child(2) .inner {
        -webkit-animation: rotation 3249ms linear infinite;
                animation: rotation 3249ms linear infinite;
    }
    .heart:nth-child(3) {
        transform: translateX(380px) translateZ(29px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(3) .movable {
        -webkit-animation: drop 5000ms -2456ms linear infinite;
                animation: drop 5000ms -2456ms linear infinite;
    }
    .heart:nth-child(3) .ring {
        -webkit-animation: wave 5000ms 1444ms ease-out infinite;
                animation: wave 5000ms 1444ms ease-out infinite;
    }
    .heart:nth-child(3) .inner {
        -webkit-animation: rotation 4241ms linear infinite;
                animation: rotation 4241ms linear infinite;
    }
    .heart:nth-child(4) {
        transform: translateX(-394px) translateZ(472px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(4) .movable {
        -webkit-animation: drop 5000ms 1888ms linear infinite;
                animation: drop 5000ms 1888ms linear infinite;
    }
    .heart:nth-child(4) .ring {
        -webkit-animation: wave 5000ms 5788ms ease-out infinite;
                animation: wave 5000ms 5788ms ease-out infinite;
    }
    .heart:nth-child(4) .inner {
        -webkit-animation: rotation 2315ms linear infinite;
                animation: rotation 2315ms linear infinite;
    }
    .heart:nth-child(5) {
        transform: translateX(-376px) translateZ(-63px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(5) .movable {
        -webkit-animation: drop 5000ms 409ms linear infinite;
                animation: drop 5000ms 409ms linear infinite;
    }
    .heart:nth-child(5) .ring {
        -webkit-animation: wave 5000ms 4309ms ease-out infinite;
                animation: wave 5000ms 4309ms ease-out infinite;
    }
    .heart:nth-child(5) .inner {
        -webkit-animation: rotation 4163ms linear infinite;
                animation: rotation 4163ms linear infinite;
    }
    .heart:nth-child(6) {
        transform: translateX(-258px) translateZ(-379px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(6) .movable {
        -webkit-animation: drop 5000ms 1796ms linear infinite;
                animation: drop 5000ms 1796ms linear infinite;
    }
    .heart:nth-child(6) .ring {
        -webkit-animation: wave 5000ms 5696ms ease-out infinite;
                animation: wave 5000ms 5696ms ease-out infinite;
    }
    .heart:nth-child(6) .inner {
        -webkit-animation: rotation 2482ms linear infinite;
                animation: rotation 2482ms linear infinite;
    }
    .heart:nth-child(7) {
        transform: translateX(-399px) translateZ(44px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(7) .movable {
        -webkit-animation: drop 5000ms 1530ms linear infinite;
                animation: drop 5000ms 1530ms linear infinite;
    }
    .heart:nth-child(7) .ring {
        -webkit-animation: wave 5000ms 5430ms ease-out infinite;
                animation: wave 5000ms 5430ms ease-out infinite;
    }
    .heart:nth-child(7) .inner {
        -webkit-animation: rotation 2650ms linear infinite;
                animation: rotation 2650ms linear infinite;
    }
    .heart:nth-child(8) {
        transform: translateX(312px) translateZ(-798px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(8) .movable {
        -webkit-animation: drop 5000ms -2942ms linear infinite;
                animation: drop 5000ms -2942ms linear infinite;
    }
    .heart:nth-child(8) .ring {
        -webkit-animation: wave 5000ms 958ms ease-out infinite;
                animation: wave 5000ms 958ms ease-out infinite;
    }
    .heart:nth-child(8) .inner {
        -webkit-animation: rotation 3533ms linear infinite;
                animation: rotation 3533ms linear infinite;
    }
    .heart:nth-child(9) {
        transform: translateX(-97px) translateZ(0px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(9) .movable {
        -webkit-animation: drop 5000ms -704ms linear infinite;
                animation: drop 5000ms -704ms linear infinite;
    }
    .heart:nth-child(9) .ring {
        -webkit-animation: wave 5000ms 3196ms ease-out infinite;
                animation: wave 5000ms 3196ms ease-out infinite;
    }
    .heart:nth-child(9) .inner {
        -webkit-animation: rotation 4518ms linear infinite;
                animation: rotation 4518ms linear infinite;
    }
    .heart:nth-child(10) {
        transform: translateX(-5px) translateZ(-499px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(10) .movable {
        -webkit-animation: drop 5000ms -2937ms linear infinite;
                animation: drop 5000ms -2937ms linear infinite;
    }
    .heart:nth-child(10) .ring {
        -webkit-animation: wave 5000ms 963ms ease-out infinite;
                animation: wave 5000ms 963ms ease-out infinite;
    }
    .heart:nth-child(10) .inner {
        -webkit-animation: rotation 3922ms linear infinite;
                animation: rotation 3922ms linear infinite;
    }
    .heart:nth-child(11) {
        transform: translateX(482px) translateZ(209px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(11) .movable {
        -webkit-animation: drop 5000ms 1236ms linear infinite;
                animation: drop 5000ms 1236ms linear infinite;
    }
    .heart:nth-child(11) .ring {
        -webkit-animation: wave 5000ms 5136ms ease-out infinite;
                animation: wave 5000ms 5136ms ease-out infinite;
    }
    .heart:nth-child(11) .inner {
        -webkit-animation: rotation 4760ms linear infinite;
                animation: rotation 4760ms linear infinite;
    }
    .heart:nth-child(12) {
        transform: translateX(328px) translateZ(584px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(12) .movable {
        -webkit-animation: drop 5000ms -2934ms linear infinite;
                animation: drop 5000ms -2934ms linear infinite;
    }
    .heart:nth-child(12) .ring {
        -webkit-animation: wave 5000ms 966ms ease-out infinite;
                animation: wave 5000ms 966ms ease-out infinite;
    }
    .heart:nth-child(12) .inner {
        -webkit-animation: rotation 4007ms linear infinite;
                animation: rotation 4007ms linear infinite;
    }
    .heart:nth-child(13) {
        transform: translateX(-477px) translateZ(-766px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(13) .movable {
        -webkit-animation: drop 5000ms -2277ms linear infinite;
                animation: drop 5000ms -2277ms linear infinite;
    }
    .heart:nth-child(13) .ring {
        -webkit-animation: wave 5000ms 1623ms ease-out infinite;
                animation: wave 5000ms 1623ms ease-out infinite;
    }
    .heart:nth-child(13) .inner {
        -webkit-animation: rotation 3010ms linear infinite;
                animation: rotation 3010ms linear infinite;
    }
    .heart:nth-child(14) {
        transform: translateX(414px) translateZ(170px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(14) .movable {
        -webkit-animation: drop 5000ms 471ms linear infinite;
                animation: drop 5000ms 471ms linear infinite;
    }
    .heart:nth-child(14) .ring {
        -webkit-animation: wave 5000ms 4371ms ease-out infinite;
                animation: wave 5000ms 4371ms ease-out infinite;
    }
    .heart:nth-child(14) .inner {
        -webkit-animation: rotation 2848ms linear infinite;
                animation: rotation 2848ms linear infinite;
    }
    .heart:nth-child(15) {
        transform: translateX(-283px) translateZ(117px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(15) .movable {
        -webkit-animation: drop 5000ms 1323ms linear infinite;
                animation: drop 5000ms 1323ms linear infinite;
    }
    .heart:nth-child(15) .ring {
        -webkit-animation: wave 5000ms 5223ms ease-out infinite;
                animation: wave 5000ms 5223ms ease-out infinite;
    }
    .heart:nth-child(15) .inner {
        -webkit-animation: rotation 4072ms linear infinite;
                animation: rotation 4072ms linear infinite;
    }
    .heart:nth-child(16) {
        transform: translateX(271px) translateZ(-747px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(16) .movable {
        -webkit-animation: drop 5000ms -2116ms linear infinite;
                animation: drop 5000ms -2116ms linear infinite;
    }
    .heart:nth-child(16) .ring {
        -webkit-animation: wave 5000ms 1784ms ease-out infinite;
                animation: wave 5000ms 1784ms ease-out infinite;
    }
    .heart:nth-child(16) .inner {
        -webkit-animation: rotation 2290ms linear infinite;
                animation: rotation 2290ms linear infinite;
    }
    .heart:nth-child(17) {
        transform: translateX(200px) translateZ(-673px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(17) .movable {
        -webkit-animation: drop 5000ms -2515ms linear infinite;
                animation: drop 5000ms -2515ms linear infinite;
    }
    .heart:nth-child(17) .ring {
        -webkit-animation: wave 5000ms 1385ms ease-out infinite;
                animation: wave 5000ms 1385ms ease-out infinite;
    }
    .heart:nth-child(17) .inner {
        -webkit-animation: rotation 3611ms linear infinite;
                animation: rotation 3611ms linear infinite;
    }
    .heart:nth-child(18) {
        transform: translateX(-272px) translateZ(-603px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(18) .movable {
        -webkit-animation: drop 5000ms -2013ms linear infinite;
                animation: drop 5000ms -2013ms linear infinite;
    }
    .heart:nth-child(18) .ring {
        -webkit-animation: wave 5000ms 1887ms ease-out infinite;
                animation: wave 5000ms 1887ms ease-out infinite;
    }
    .heart:nth-child(18) .inner {
        -webkit-animation: rotation 4210ms linear infinite;
                animation: rotation 4210ms linear infinite;
    }
    .heart:nth-child(19) {
        transform: translateX(-106px) translateZ(-537px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(19) .movable {
        -webkit-animation: drop 5000ms -964ms linear infinite;
                animation: drop 5000ms -964ms linear infinite;
    }
    .heart:nth-child(19) .ring {
        -webkit-animation: wave 5000ms 2936ms ease-out infinite;
                animation: wave 5000ms 2936ms ease-out infinite;
    }
    .heart:nth-child(19) .inner {
        -webkit-animation: rotation 2754ms linear infinite;
                animation: rotation 2754ms linear infinite;
    }
    .heart:nth-child(20) {
        transform: translateX(-285px) translateZ(-594px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(20) .movable {
        -webkit-animation: drop 5000ms -1292ms linear infinite;
                animation: drop 5000ms -1292ms linear infinite;
    }
    .heart:nth-child(20) .ring {
        -webkit-animation: wave 5000ms 2608ms ease-out infinite;
                animation: wave 5000ms 2608ms ease-out infinite;
    }
    .heart:nth-child(20) .inner {
        -webkit-animation: rotation 2585ms linear infinite;
                animation: rotation 2585ms linear infinite;
    }
    .heart:nth-child(21) {
        transform: translateX(-42px) translateZ(166px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(21) .movable {
        -webkit-animation: drop 5000ms -1768ms linear infinite;
                animation: drop 5000ms -1768ms linear infinite;
    }
    .heart:nth-child(21) .ring {
        -webkit-animation: wave 5000ms 2132ms ease-out infinite;
                animation: wave 5000ms 2132ms ease-out infinite;
    }
    .heart:nth-child(21) .inner {
        -webkit-animation: rotation 4468ms linear infinite;
                animation: rotation 4468ms linear infinite;
    }
    .heart:nth-child(22) {
        transform: translateX(-313px) translateZ(-350px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(22) .movable {
        -webkit-animation: drop 5000ms -515ms linear infinite;
                animation: drop 5000ms -515ms linear infinite;
    }
    .heart:nth-child(22) .ring {
        -webkit-animation: wave 5000ms 3385ms ease-out infinite;
                animation: wave 5000ms 3385ms ease-out infinite;
    }
    .heart:nth-child(22) .inner {
        -webkit-animation: rotation 4689ms linear infinite;
                animation: rotation 4689ms linear infinite;
    }
    .heart:nth-child(23) {
        transform: translateX(285px) translateZ(261px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(23) .movable {
        -webkit-animation: drop 5000ms 1074ms linear infinite;
                animation: drop 5000ms 1074ms linear infinite;
    }
    .heart:nth-child(23) .ring {
        -webkit-animation: wave 5000ms 4974ms ease-out infinite;
                animation: wave 5000ms 4974ms ease-out infinite;
    }
    .heart:nth-child(23) .inner {
        -webkit-animation: rotation 2372ms linear infinite;
                animation: rotation 2372ms linear infinite;
    }
    .heart:nth-child(24) {
        transform: translateX(-329px) translateZ(435px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(24) .movable {
        -webkit-animation: drop 5000ms 369ms linear infinite;
                animation: drop 5000ms 369ms linear infinite;
    }
    .heart:nth-child(24) .ring {
        -webkit-animation: wave 5000ms 4269ms ease-out infinite;
                animation: wave 5000ms 4269ms ease-out infinite;
    }
    .heart:nth-child(24) .inner {
        -webkit-animation: rotation 4764ms linear infinite;
                animation: rotation 4764ms linear infinite;
    }
    .heart:nth-child(25) {
        transform: translateX(379px) translateZ(-346px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(25) .movable {
        -webkit-animation: drop 5000ms -2772ms linear infinite;
                animation: drop 5000ms -2772ms linear infinite;
    }
    .heart:nth-child(25) .ring {
        -webkit-animation: wave 5000ms 1128ms ease-out infinite;
                animation: wave 5000ms 1128ms ease-out infinite;
    }
    .heart:nth-child(25) .inner {
        -webkit-animation: rotation 4452ms linear infinite;
                animation: rotation 4452ms linear infinite;
    }
    .heart:nth-child(26) {
        transform: translateX(-187px) translateZ(673px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(26) .movable {
        -webkit-animation: drop 5000ms 1757ms linear infinite;
                animation: drop 5000ms 1757ms linear infinite;
    }
    .heart:nth-child(26) .ring {
        -webkit-animation: wave 5000ms 5657ms ease-out infinite;
                animation: wave 5000ms 5657ms ease-out infinite;
    }
    .heart:nth-child(26) .inner {
        -webkit-animation: rotation 3063ms linear infinite;
                animation: rotation 3063ms linear infinite;
    }
    .heart:nth-child(27) {
        transform: translateX(-293px) translateZ(-452px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(27) .movable {
        -webkit-animation: drop 5000ms -94ms linear infinite;
                animation: drop 5000ms -94ms linear infinite;
    }
    .heart:nth-child(27) .ring {
        -webkit-animation: wave 5000ms 3806ms ease-out infinite;
                animation: wave 5000ms 3806ms ease-out infinite;
    }
    .heart:nth-child(27) .inner {
        -webkit-animation: rotation 4024ms linear infinite;
                animation: rotation 4024ms linear infinite;
    }
    .heart:nth-child(28) {
        transform: translateX(122px) translateZ(-451px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(28) .movable {
        -webkit-animation: drop 5000ms 512ms linear infinite;
                animation: drop 5000ms 512ms linear infinite;
    }
    .heart:nth-child(28) .ring {
        -webkit-animation: wave 5000ms 4412ms ease-out infinite;
                animation: wave 5000ms 4412ms ease-out infinite;
    }
    .heart:nth-child(28) .inner {
        -webkit-animation: rotation 4492ms linear infinite;
                animation: rotation 4492ms linear infinite;
    }
    .heart:nth-child(29) {
        transform: translateX(432px) translateZ(-795px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(29) .movable {
        -webkit-animation: drop 5000ms -12ms linear infinite;
                animation: drop 5000ms -12ms linear infinite;
    }
    .heart:nth-child(29) .ring {
        -webkit-animation: wave 5000ms 3888ms ease-out infinite;
                animation: wave 5000ms 3888ms ease-out infinite;
    }
    .heart:nth-child(29) .inner {
        -webkit-animation: rotation 2769ms linear infinite;
                animation: rotation 2769ms linear infinite;
    }
    .heart:nth-child(30) {
        transform: translateX(-211px) translateZ(732px) scale3d(0.5, 0.5, 0.5);
    }
    .heart:nth-child(30) .movable {
        -webkit-animation: drop 5000ms 1303ms linear infinite;
                animation: drop 5000ms 1303ms linear infinite;
    }
    .heart:nth-child(30) .ring {
        -webkit-animation: wave 5000ms 5203ms ease-out infinite;
                animation: wave 5000ms 5203ms ease-out infinite;
    }
    .heart:nth-child(30) .inner {
        -webkit-animation: rotation 2579ms linear infinite;
                animation: rotation 2579ms linear infinite;
    }
    @-webkit-keyframes blur {
        0% {
        filter: blur(20px) grayscale(150%);
        }
        100% {
        filter: blur(10px) grayscale(50%);
        }
    }
    @keyframes blur {
        0% {
        filter: blur(20px) grayscale(150%);
        }
        100% {
        filter: blur(10px) grayscale(50%);
        }
    }
    @-webkit-keyframes rotation {
        0% {
        transform: rotateY(0deg);
        }
        100% {
        transform: rotateY(360deg);
        }
    }
    @keyframes rotation {
        0% {
        transform: rotateY(0deg);
        }
        100% {
        transform: rotateY(360deg);
        }
    }
    @-webkit-keyframes drop {
        0% {
        transform: translateY(-1000px);
        opacity: 0;
        }
        80% {
        transform: translateY(0);
        opacity: 3;
        }
        100% {
        transform: translateY(-40px);
        opacity: 0;
        }
    }
    @keyframes drop {
        0% {
        transform: translateY(-1000px);
        opacity: 0;
        }
        80% {
        transform: translateY(0);
        opacity: 3;
        }
        100% {
        transform: translateY(-40px);
        opacity: 0;
        }
    }
    @-webkit-keyframes wave {
        0% {
        transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
        opacity: 2;
        }
        100% {
        transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
        opacity: 0;
        }
    }
    @keyframes wave {
        0% {
        transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
        opacity: 2;
        }
        100% {
        transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
        opacity: 0;
        }
    }
    @-webkit-keyframes wing {
        0% {
        transform: rotateY(70deg);
        }
        100% {
        transform: rotateY(0deg);
        }
    }
    @keyframes wing {
        0% {
        transform: rotateY(70deg);
        }
        100% {
        transform: rotateY(0deg);
        }
    }

  /*wrapper */
  .wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    position:absolute;
    top:-250px;
  }

  .typing-demo {
    width: 36ch;
    animation: typing 3.5s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }

  @media only screen and (max-width: 480px) {
    .wrapper{
      font-size: 0.7em;
    }

    div.row span.letter{
      font-size:55px;
    }

    span.flow{
      margin-top: 15%;
    }
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  /*boxxxx*/

.wishbox {
  overflow: hidden;
}

.merrywrap {
  position: absolute;
  right: 40px;
  left: 40px;
  bottom: 450px;
}

span.flow{
  background-image: url('image/flower2.ico');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  width: 80%;
}

.giftbox {
  position: absolute;
  width: 300px;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  z-index: 10;
}
.giftbox > div {
  background: #34495e;
  position: absolute;
}
.giftbox > div:after, .giftbox > div:before {
  position: absolute;
  content: "";
  top: 0;
}
.giftbox:after {
  position: absolute;
  color: #fff;
  width: 100%;
  content: "Click Me!";
  left: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  transform: rotate(-20deg);
  transform-origin: 0 0;
}
.giftbox .cover {
  width: 100%;
  top: 0;
  left: 0;
  height: 25%;
  z-index: 2;
}
.giftbox .cover:before {
  position: absolute;
  height: 100%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%);
  background: #fdc56d;
}
.giftbox .cover > div {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}
.giftbox .cover > div:before, .giftbox .cover > div:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  box-shadow: inset 0 0 0 15px #fdc56d;
  border-radius: 30px;
  transform-origin: 50% 100%;
}
.giftbox .cover > div:before {
  transform: translateX(-45%) skewY(40deg);
}
.giftbox .cover > div:after {
  transform: translateX(45%) skewY(-40deg);
}
.giftbox .box {
  right: 5%;
  left: 5%;
  height: 80%;
  bottom: 0;
}
.giftbox .box:before {
  width: 50px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fdc56d;
}
.giftbox .box:after {
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
}

.icons {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  height: auto;
  transform: translateY(-50%);
}
.icons .row {
  width: 100%;
  text-align: center;
}
.icons .row span {
  color: #fff;
  text-shadow: 5px 5px 0 #ca3121;
  font-size: 84px;
  display: inline-block;
  opacity: 0;
  transition: transform 0.5s ease-in, opacity 0.7s;
}

span.letter2 a{
  text-decoration: none;
  color: #fff;
  text-shadow: 5px 5px 0 #e42a0f;
  font-size: 64px;
}

span.letter2 a:hover{
  color:rgb(255,182,193);
}

span.letter2{
  padding-top: 2%;
}

.step-1 .giftbox {
  animation: wobble 0.5s linear infinite forwards;
}
.step-1 .cover {
  animation: wobble 0.5s linear infinite 0.1s forwards;
}
.step-1 .icons .row span {
  opacity: 1;
}

.step-2 .giftbox:after {
  opacity: 0;
}

.step-3 .giftbox,
.step-4 .giftbox {
  opacity: 0;
  z-index: 1;
}
.step-3 .giftbox:after,
.step-4 .giftbox:after {
  opacity: 0;
}

.step-2 .giftbox .cover {
  animation: flyUp 0.4s ease-in forwards;
}
.step-2 .giftbox .box {
  animation: flyDown 0.2s ease-in 0.05s forwards;
}

@keyframes wobble {
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
}
@keyframes flyUp {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) rotate(20deg);
    opacity: 0;
  }
}
@keyframes flyDown {
  75% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}
.step-1 .icons .row span {
  opacity: 0;
}

.step-1 .icons .row span:first-child {
  transform: translateY(700%) translateX(600%);
}

.step-1 .icons .row span:nth-child(2) {
  transform: translateY(700%) translateX(500%);
}

.step-1 .icons .row span:nth-child(3) {
  transform: translateY(700%) translateX(400%);
}

.step-1 .icons .row span:nth-child(4) {
  transform: translateY(700%) translateX(300%);
}

.step-1 .icons .row span:nth-child(5) {
  transform: translateY(700%) translateX(200%);
}

.step-1 .icons .row span:nth-child(6) {
  transform: translateY(700%) translateX(100%);
}

.step-1 .icons .row span:nth-child(7) {
  transform: translateY(700%) translateX(0);
}

.step-1 .icons .row span:nth-child(8) {
  transform: translateY(700%) translateX(-100%);
}

.step-1 .icons .row span:nth-child(9) {
  transform: translateY(700%) translateX(-200%);
}

.step-1 .icons .row span:nth-child(10) {
  transform: translateY(700%) translateX(-300%);
}

.step-1 .icons .row span:nth-child(11) {
  transform: translateY(700%) translateX(-400%);
}

.step-1 .icons .row span:nth-child(12) {
  transform: translateY(700%) translateX(-500%);
}

.step-1 .icons .row span:nth-child(13) {
  transform: translateY(700%) translateX(-600%);
}

.step-2 .icons .row span:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.step-2 .icons .row span:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.step-2 .icons .row span:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.step-2 .icons .row span:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.step-2 .icons .row span:nth-child(6) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.step-2 .icons .row span:nth-child(7) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.step-2 .icons .row span:nth-child(8) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.step-2 .icons .row span:nth-child(9) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

.step-2 .icons .row span:nth-child(10) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.step-2 .icons .row span:nth-child(11) {
  -webkit-transition-delay: 0.55s;
  transition-delay: 0.55s;
}

.step-2 .icons .row span:nth-child(12) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

.step-2 .icons .row span:nth-child(13) {
  -webkit-transition-delay: 0.65s;
  transition-delay: 0.65s;
}

.step-2 .icons span,
.step-3 .icons span,
.step-4 .icons span {
  opacity: 0.7;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 0.91);
}

.step-4 .icons .row span,
.step-3 .icons .row span {
  animation: wobble 0.6s linear infinite forwards;
}

.step-4 .icons .row span:nth-child(even),
.step-3 .icons .row span:nth-child(even) {
  animation-duration: 0.7s;
}

/*2*/

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body.page2 {
	font-family: 'Indie Flower', cursive !important;
  background: mistyrose; /*CAPE HONEY*/
	margin: 0px;
	padding: 0px;
}

::selection {
	background: transparent;
}

h4 {
	font-size: 26px;
	line-height: 1px;
	font-family:monospace !important;
}

.color1{color:#1BBC9B}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}


.card {
	color: #013243; /*SHERPA BLUE*/
	position: absolute;
	top: 40%;
	left: 50%;
	width: 300px;
	height: 400px;
	background: #ffffe0;
	transform-style: preserve-3d;
	transform: translate(-50%,-50%) perspective(2000px);
	box-shadow: inset 300px 0 50px rgba(0,0,0,.2), 20px 0 60px rgba(0,0,0,.5);
	transition: 1.5s;
  z-index: 1;
}

.card:hover {
	transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
	box-shadow: inset 20px 0 50px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,.2);
}

.card:before {
	content:'';
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background: #ffffe0;
	transform-origin: bottom;
	transform: skewX(-45deg);
}

.card:after {
	content: '';
	position: absolute;
	top: 0;
	right: -5px;
	width: 5px;
	height: 100%;
	background: #ffffe0;
	transform-origin: left;
	transform: skewY(-45deg);
}

.card .imgBox {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: left;
	transition: 2.7s;
  opacity: 1;
}

div.imgBox p{
  position: absolute;
  top: 70%;
  left: 35%;
  color:rgb(219,112,147);
  text-shadow:5px 2px mistyrose;
}

.card .bark {
	position: absolute;
	background: #ffffe0;
	width: 100%;
	height: 100%;
	opacity: 1;
	transition: 2.7s;
}

.card .imgBox img {
  position: absolute;
	width:60%;
  height:55%;
  top:60px;
  left:60px;
  border-radius: 50%;
  margin: auto;
  opacity: 1;
}

.card:hover .imgBox {
	transform: rotateY(-135deg);
}

.card:hover .bark {
	opacity: 1;
	transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .1) inset;
}

.card .details {
	position: absolute;
	top: -30px;
	left: 0;
	box-sizing: border-box;
	padding: 0 0 0 10px;
	z-index: -1;
	margin-top: 70px;
}

.card .details p {
	font-size: 15px;
	line-height: 5px;
	transform: rotate(-16deg);
	padding: 0 0 0 20px;
}

.card .details h4 {
	text-align: center;
}

.text-right {
	text-align: right;
}

/*ballon*/
:root {
  --balloon1-bg-color: #eaeaeae6;
  --balloon2-bg-color: #e8dab2e6;
  --balloon3-bg-color: #dd6e42e3;
  --balloon4-bg-color: #4f6d7ad6;
  --balloon5-bg-color: #eaeaeae6;
  --bg-color: #c0d6df;

  --balloon-anim-1: balloon1 15s ease infinite;
  --balloon-anim-2: balloon2 5s ease infinite;
  --balloon-anim-3: balloon3 10s ease infinite;
  --balloon-anim-4: balloon4 5s ease infinite;
  --balloon-anim-5: balloon5 15s ease infinite;
  --balloon-anim-6: balloon7 5s ease infinite;
}

.ballonbody {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  min-width: 600px;
}

.happy,
.birthday {
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.name {
  display: flex;
  justify-content: center;
  padding: 50px;
  font-size: 80px;
  color: #4f6d7a;
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.balloon {
  width: 76px;
  height: 100px;
  margin: 10px;
  border-radius: 80%;
  position: relative;
}

.balloon::after {
  position: absolute;
  bottom: -16px;
  left: 31px;
  content: "\2713";
  transform: rotate(180deg);
  font-weight: bold;
  font-size: 16px;
}

.happy .balloon::before,
.birthday .balloon::before {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 10px);
  font-size: 30px;
  color: #4f6d7a;
  font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
}

.birthday{
  position: absolute;
  top:65%;
  left:25%;
}

.happy{
  position: absolute;
  top:3%;
  left:34%;
}

@media only screen and (max-width:480px){
  body.page2{
    font-family: monospace;
  }
  
  .happy{
    left:0;

  }

  .happy .balloon2:nth-child(2){
    left:-6%
  }
  .happy .balloon3:nth-child(3){
    left:-8%;
  }
  .happy .balloon4:nth-child(4){
    left:-15%
  }
  .happy .balloon5:nth-child(5){
    left:-22%
  }

  .birthday{
    left:0;
    bottom: 0;
  }

  .birthday .balloon:nth-child(1){
    top:-10%;
    left:-5%;
  }
  .birthday .balloon:nth-child(2){
    top:-3%;
    left:-11%;
  }
  .birthday .balloon:nth-child(3){
    top:-2%;
    left:-18%;
  }
  .birthday .balloon:nth-child(4){
    top:0%;
    left:-24%;
  }
  .birthday .balloon:nth-child(5){
    top:-2%;
    left:-29%;
  }
  .birthday .balloon:nth-child(6){
    top:-2%;
    left:-35%;
  }
  .birthday .balloon:nth-child(7){
    top:-2%;
    left:-40%;
  }
  .birthday .balloon:nth-child(8){
    top:-10%;
    left:-45%;
  }

}

.happy .balloon:nth-child(1)::before {
  content: "H";
}
.happy .balloon:nth-child(2)::before {
  content: "A";
}
.happy .balloon:nth-child(3)::before {
  content: "P";
}
.happy .balloon:nth-child(4)::before {
  content: "P";
}
.happy .balloon:nth-child(5)::before {
  content: "Y";
}
.birthday .balloon:nth-child(1)::before {
  content: "B";
}
.birthday .balloon:nth-child(2)::before {
  content: "I";
}
.birthday .balloon:nth-child(3)::before {
  content: "R";
}
.birthday .balloon:nth-child(4)::before {
  content: "T";
}
.birthday .balloon:nth-child(5)::before {
  content: "H";
}
.birthday .balloon:nth-child(6)::before {
  content: "D";
}
.birthday .balloon:nth-child(7)::before {
  content: "A";
}
.birthday .balloon:nth-child(8)::before {
  content: "Y";
}
@keyframes balloon1 {
  0%,
  100% {
    transform: translate(0, 0) rotate(-10deg);
  }
  50% {
    transform: translate(0, 30px) rotate(10deg);
  }
}

@keyframes balloon2 {
  0%,
  100% {
    transform: translate(-20px, 40px) rotate(15deg);
  }
  50% {
    transform: translate(0, -10px) rotate(-5deg);
  }
}

@keyframes balloon3 {
  0%,
  100% {
    transform: translate(-30px, 0) rotate(-10deg);
  }
  50% {
    transform: translate(0, -20px) rotate(20deg);
  }
}

@keyframes balloon4 {
  0%,
  100% {
    transform: translate(-10px, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, 20px) rotate(30deg);
  }
}

@keyframes balloon5 {
  0%,
  100% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(0, 30px) rotate(-20deg);
  }
}
@keyframes balloon6 {
  0%,
  100% {
    transform: translate(-10px, 0) rotate(0deg);
  }
  50% {
    transform: translate(0, 20px) rotate(30deg);
  }
}

@keyframes balloon7 {
  0%,
  100% {
    transform: translate(0, 0) rotate(15deg);
  }
  50% {
    transform: translate(0, 0) rotate(-15deg);
  }
}
.balloon1 {
  background: var(--balloon1-bg-color);
  box-shadow: inset 10px 10px 10px #c7c3c3e6;
}
.balloon1::after {
  color: var(--balloon1-bg-color);
}

.balloon2 {
  background: var(--balloon2-bg-color);
  box-shadow: inset 10px 10px 10px #d5c7a1;
}
.balloon2::after {
  color: var(--balloon2-bg-color);
}

.balloon3 {
  background: var(--balloon3-bg-color);
  box-shadow: inset 10px 10px 10px #cf6840;
}
.balloon3::after {
  color: var(--balloon3-bg-color);
}

.balloon4 {
  background: var(--balloon4-bg-color);
  box-shadow: inset 10px 10px 10px #4f6d7a;
}
.balloon4::after {
  color: var(--balloon4-bg-color);
}
.balloon5 {
  background: var(--balloon5-bg-color);
  box-shadow: inset 10px 10px 10px #cbc8c8;
}
.balloon5::after {
  color: var(--balloon5-bg-color);
}

.balloon-anim1 {
  animation: var(--balloon-anim-1);
}
.balloon-anim2 {
  animation: var(--balloon-anim-2);
}
.balloon-anim3 {
  animation: var(--balloon-anim-3);
}
.balloon-anim4 {
  animation: var(--balloon-anim-4);
}
.balloon-anim5 {
  animation: var(--balloon-anim-5);
}
.balloon-anim6 {
  animation: var(--balloon-anim-6);
}


